.btn-primary{
  --bs-btn-color: #ffffff!important;
  --bs-btn-bg: #35A0BE!important;
  --bs-btn-border-color: #35A0BE!important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1F496F!important;
  --bs-btn-hover-border-color: #1F496F!important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #165b9b!important;
  --bs-btn-active-border-color: #165b9b!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(101, 130, 173)!important;
  --bs-btn-disabled-border-color: rgb(101, 130, 173)!important;
}


@font-face {
  font-family: 'RobotoMono';
  src: url('./tech/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  font-family: 'RobotoMono', sans-serif!important;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-family: 'RobotoMono', sans-serif!important;
  background-color: #35A0BE!important;
  color: white!important
}


.nav-link {
  font-family: 'RobotoMono', sans-serif!important;
  color: #35A0BE!important;
}

.nav-link:hover {
  color: #ffffff!important;
}

.nav-pills .nav-link.active:hover {
  background-color: #1F496F!important;
  color: #ffffff!important;
}

.gradient-custom {
    background-color:#99faff;
    background-image:
    radial-gradient(at 25% 74%, hsla(187,69%,69%,1) 0px, transparent 50%),
    radial-gradient(at 38% 26%, hsla(97,66%,63%,1) 0px, transparent 50%),
    radial-gradient(at 84% 80%, hsla(117,72%,66%,1) 0px, transparent 50%),
    radial-gradient(at 67% 41%, hsla(107,92%,74%,1) 0px, transparent 50%),
    radial-gradient(at 12% 97%, hsla(108,100%,60%,1) 0px, transparent 50%),
    radial-gradient(at 94% 9%, hsla(208,80%,67%,1) 0px, transparent 50%),
    radial-gradient(at 55% 76%, hsla(237,54%,37%,1) 0px, transparent 50%);
    }

.glass-effect {
    background: rgba(255, 255, 255, 0.47)!important;
    border-radius: 16px!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(5.8px)!important;
    -webkit-backdrop-filter: blur(5.8px)!important;
}

table.iksweb{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	color: #fff; 
	font-weight: normal;
}


  

.jump, .jump-10, .jump-15, .jump-20{
    transition: transform 0.3s ease-in-out;
  }
 
  .jump:hover {
    transform: translateY(-5px);
  }  
  .jump-10:hover {
    transform: translateY(-10px);
  }
  .jump-15:hover {
    transform: translateY(-15px);
  }
  .jump-20:hover {
    transform: translateY(-20px);
  }


  .zoom-5, .zoom-10, .zoom-15, .zoom-20{
	transition: transform 0.3s;
  }

  .zoom-5:hover {
	transform: scale(1.05);
  }
  .zoom-10:hover {
	transform: scale(1.1);
  }
  .zoom-15:hover {
	transform: scale(1.15);
  }
  .zoom-20:hover {
	transform: scale(1.2);
  }


  .highlight {
    animation: mirrorEffect 1s ease-in-out alternate;
  }


.bg-lite-light  {
  background: #ecf0f3;
}

.modal {
  background-color: #03030fab;
}



.custom-grad-login-input {
  background: transparent!important;
  
  background-color: #ffffff70!important;
  border: none!important;
  border-radius: 30px 3px 30px 3px!important;
  color: black!important;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
}

.custom-grad-login-input {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.5) 100%)!important;
  z-index: 1!important;
}

.custom-grad-login-input:hover {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.7) 100%)!important;
  animation: gradientAnimation 1s ease forwards!important;
  border: none!important;
}

.custom-grad-login-input:focus {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.7) 100%)!important;
  animation: gradientAnimation 1s ease forwards!important;
  border: none!important;
}

.custom-grad-login-input:disabled {
  background-image: linear-gradient(to bottom, rgba(158, 95, 95, 0.5) 0%, rgba(158, 95, 95,0.3) 50%, rgba(158, 95, 95,0.5) 100%)!important;
  animation: gradientAnimation 1s ease forwards!important;
  border: none!important;
}

.custom-grad-login-btn{
  background: transparent!important;
  border: none!important;
  border-radius: 30px 3px 30px 3px!important;
  color: black!important;

  background-color: #ffffff70!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
}

.custom-grad-login-btn {

  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.5) 100%)!important;
  z-index: 1!important;
}

.custom-grad-login-btn:hover {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.5) 100%)!important;
  z-index: 1!important;
}

.custom-grad-login-alert{
  background: transparent!important;
  border: none!important;
  border-radius: 30px 3px 30px 3px!important;
  color: black!important;
  z-index: 1!important;
}


.alert-danger.custom-grad-login-alert,
.alert-success.custom-grad-login-alert {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
}


.alert-danger.custom-grad-login-alert{
 /* background-image: linear-gradient(to bottom, rgba(175, 45, 45, 0.5) 0%, rgba(206, 125, 125, 0.4) 50%, rgba(175, 45, 45, 0.5) 100%)!important;
    color: rgb(70, 0, 10)!important;
  */
  background-color: #ff3f3f70!important;



}

.alert-success.custom-grad-login-alert{
  /*  background-image: linear-gradient(to bottom, rgba(120, 200, 120, 0.9) 0%, rgba(149, 218, 161, 0.35) 50%, rgba(120, 200, 120, 0.9) 100%)!important;
      color: rgb(0, 60, 10)!important;
  */
  background-color: #8ffda170!important;

}


@font-face {
  font-family: 'Arturito';
  src: url('./tech/arturito.ttf') format('truetype');
  /* Дополнительные параметры, если нужно */
  font-weight: normal;
  font-style: normal;
}

.add-font-arturito-slab{
  font-family: 'Arturito', sans-serif!important;
}


.custom-body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgb(50, 158, 151) 68%, rgb(89, 167, 79) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.registration-page {
  overflow: hidden;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.custom-body::-webkit-scrollbar{
  display: none;
}

.circles::-webkit-scrollbar{
  display: none;
}
.area{
    width: 100%;
    height:100vh;
}

.circles::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.custom-text-logo span:nth-child(1){
  font-size: 6.8rem;
}

.custom-text-logo span:nth-child(2){
  font-size: 2.8rem;
}

.custom-text-logo span:nth-child(3){
  font-size: 4rem;
}

.logotip-styles-big{
  width: 15vh;
}

@media (min-width: 992px) and (max-width: 1399.98px){
  .custom-text-logo span:nth-child(1){
    font-size: 5rem;
  }
  
  .custom-text-logo span:nth-child(2){
    font-size: 2.3rem;
  }
  
  .custom-text-logo span:nth-child(3){
    font-size: 3.2rem;
  }
}

@media (min-width: 480px) and (max-width: 992px){
  .custom-text-logo span:nth-child(1){
    font-size: 5.4rem;
  }
  
  .custom-text-logo span:nth-child(2){
    font-size: 2.3rem;
  }
  
  .custom-text-logo span:nth-child(3){
    font-size: 3.2rem;
  }
}

  .bottom-contact-btn{
    background-image: url(/src/pages/img/logo.svg);
    position: fixed!important;
    bottom: 1rem!important;
    left: 1rem!important;
    height: 3rem!important;
    width: 3rem!important;
    border-radius: 50%!important;
    transition: transform 1s; 
    opacity: 0.6!important;
  }


@keyframes hoverAnimation {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-10px) rotate(180deg); }
  100% { transform: translateY(-10px) rotate(360deg); }
}

/* При наведении */
.bottom-contact-btn:hover {
  animation: hoverAnimation 1s forwards;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

ul.dropdown-menu.custom  {
    background-color: rgba(2, 28, 121, 0);
    border: none;
    animation: fadeInLeft 0.5s ease; /* Применяем анимацию fadeInLeft */
    transform: translateY(-100%);
}


@keyframes fadeInLeft {
  from {
    opacity: 0; /* Начальное значение прозрачности: элемент невидим */
    transform: translateY(-100%); /* Начальное положение: сдвигаем элемент вверх на 100% высоты */
}
to {
    opacity: 1; /* Конечное значение прозрачности: элемент становится видимым */
    transform: translateY(-15); /* Конечное положение: элемент возвращается на исходную позицию */
}
}

ul.dropdown-menu.custom  li a{
  text-decoration: none;
  color: rgb(209, 209, 209)!important;
}
ul.dropdown-menu.custom  li {
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
  padding: 1em;
  background: rgb(43, 43, 43);
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;

}

ul.dropdown-menu.custom  li::before,
ul.dropdown-menu.custom  li::after {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: 5px;
      width: 105%;
      transition: all 0.4s;
  }
  ul.dropdown-menu.custom  li::before {
      left: 0%;
      height: 130%;
      background: linear-gradient(to right, #021B79, #0575E6);
  }
  ul.dropdown-menu.custom  li::after {
      left: -10%;
      height: 120%;
      background: #ffffff56;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  }
  ul.dropdown-menu.custom  li:hover::before {
      transform: translateX(-2.5%);
  }
  ul.dropdown-menu.custom  li:hover::after {
      transform: translateX(15%);
  }
  

  
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #ffffff;
	border: 1px solid #ffffff;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 72px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #5a5a5a;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #414141;
	margin-top: 5px;
}
.tilesWrap li a {
  z-index: 11;
	padding: 10px 20px;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li a:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover a {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li a:hover {
	color: #fdfdfd;
}
.tilesWrap li a:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}

.tilesWrap div li.first:before {
	background: #C9FFBF;
	background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
	background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.tilesWrap div li.second:before {
	background: #f2709c;
	background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
	background: linear-gradient(to right, #ff9472, #f2709c);
}

.tilesWrap div li.third:before {
	background: #c21500;
	background: -webkit-linear-gradient(to right, #ffc500, #c21500);
	background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap div li.fourth:before {
	background: #FC354C;
	background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
	background: linear-gradient(to right, #0ABFBC, #FC354C);
}





.custom-hg{
background: rgb(255, 255, 255);
background: linear-gradient(90deg, rgb(70, 121, 136) 0%, rgb(7, 51, 65) 100%);
}


table .bg-primary{
  background-color: rgb(23,69,83)!important;
}

span a {
  color: rgb(23,69,83)!important;
}

span a:hover {
  color: #165b9b!important;
}

span a:active {
  color: rgb(23,69,83)!important;
}